<h2><%= @folder.name %></h2>

<%= "Filed under... " + @folder.parentname %><br />

<%= link_to "Create Subfolder", new_folder_path(:parentname => @folder.name) %>
<%= link_to "Edit Folder", edit_folder_path %>
<%= link_to "Delete Folder", @folder, :method => :delete, :confirm => "Are you sure you want to delete this folder?"%>
