<!DOCTYPE html>
<html>
<head>
  <title>Bookmarker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "Bookmarker", root_path %></h1>
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<h2><%= link_to "Folders", root_path %></h2>
<% unless @folders.nil? %>
	<% @folders.each do |folder| %>
		<div class='folders' id='<%= folder %>'>
			<b><%= link_to folder.name, folder %></b><br />
		</div>
	<% end %>
<% end %>

<br />
<br />

<%= yield %>


</body>
</html>
