<!DOCTYPE html>
<html>
<head>
  <title>Bookmarker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<% unless @folders.nil? %>
	<% @folders.each do |folder| %>
		<div class='folders' id='<%= folder %>'>
			<b><%= link_to folder.name, folder %></b><br />
		</div>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
